*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #0f0f0f;
}
body{
  margin: 0;
  padding: 0;
  display: block;
}
.seatcontainer{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}
.seat{
  width: 30px;
  height: 30px;
  border: 0px solid transparent;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}
.blank{
  background-color: red;
}
.selected{
  background-color: yellow;
}
.moviecontainer img{
  width: 365px;
  height: 600px;
  object-fit: cover;
  border: 3px solid white;
}
.movieAll{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 1500px;
}
.movieTitle{
  text-align: center;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 25px;
  background-color: black;
  margin-top: -5px;
}
a{
  color: white;
}
a:hover{
  color: white;
}
.moviecontainer{
  transition: transform 0.2s;
}
.moviecontainer:hover{
  transform: scale(1.02);
  cursor: pointer;
}
.timeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}
.timeContainer h2{
  font-size: 25px;
  font-family: 'Kanit';
  font-weight: 500;
  padding: 5px 20px 5px 20px;
  border: 0px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}
.seatAndScreen{
  display: flex;
  flex-direction: column;
}
.infoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 90px;
}
.infoContainer img{
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.info h4{
  font-family: 'Kanit';
  font-size: 40px;
}
.info h5{
  font-size: 30px;
}
.nav-container ul{
  display: flex;
  height: 60px;
  list-style: none;
  justify-content:center;
  align-items: center;
  gap: 250px;
  padding-top: 30px;
}
.nav-container ul li{
  font-family: 'Kanit';
  font-size: 30px;
  cursor: pointer;
}
.login-container form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  margin-top: 150px;
}
.login-container form input{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 60px;
  font-family: 'Kanit';
  font-size: 30px;
}
.login-container form button{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.login-container form p{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  font-family: 'Kanit';
  font-size: 30px;
}
.book{
  background-color: orange;
  color: white;
}
.unselect{
  background-color:white;
  color: black;
}
.ads-container{
  display: flex;
  margin-top: 80px;
  width: 1205px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.title{
  font-size: 50px;
  width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.login-container form h5{
  font-size: 30px;
  font-family: 'Kanit';
  font-weight: 400;
  width: 900px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 40px;
}
.box img{
  width: 400px;
  display: flex;
}
li{
  color: white;
}
.report{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}
.report h3{
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 30px;
  display: flex;
}
.line{
  width: 5px;
  height: 90px;
  background-color: white;
  opacity: 0.3;
}
.seatCount{
  margin-left: 10px;
}
.booking{
  width: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 60px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
}
.unAvail{
  background-color: gray;
  cursor:none;
}